.LandingPage {
  .IContent {
    display: none;
  }
  @media screen and (max-width: 800px) {
    .BContent {
      display: none !important;
    }
    .IContent {
      display: flex !important;
    }
  }
  background-image: url('https://via.placeholder.com/1920x1080');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
